@font-face {
  font-family: Penumbra;
  src: url("../assets/fonts/Penumbra-HalfSerif-Std-Light_35112.ttf");
}

:root {
  --border-color: #49422b;
  --border-color-highlight: white;
  --text-color: white;
  --main-color: #050d1a;

  --scroll-background-color: #172a49;
  --scroll-thumb-color: #364661;
  --scroll-thumb-hover-color: #2e3847;
  --background-image: url("../images/smite/background.jpg");

  /* "none" para esconder ou "block" para mostrar */
  --display-charnames: block;
}

* {
  font-family: "Penumbra", "Times New Roman", Times, serif;
}

.char-button {
  background-size: 115%;
}
